@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar to match AppliTrack Extension */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0F172A; /* dark */
}

::-webkit-scrollbar-thumb {
    background: #334155; /* slate-700 */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6366F1; /* primary */
}

body {
    background-color: #0F172A;
    color: white;
}